<div class="container" id="top-container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Agency</th><th>Flight number</th><th>Departure time</th> <th>Destination</th> <th>State</th> <th>Airports</th><th>Photo</th><th>Delete</th><th>Update</th></tr>
    <tbody *ngFor="let vol of vols">
    <tr >
    <td>{{vol.agence}}</td>
    <td>{{vol.numVol}}</td>
    <td>{{ vol.heureDepart | date: 'shortTime' }}</td>
    <td>{{vol.destination}}</td>
    <td ><div *ngIf="vol.etat=='Landed'" ><a class="btn btn-success" >{{vol.etat}} </a></div>
        <div *ngIf="vol.etat=='Canceled'" ><a class="btn btn-danger" >{{vol.etat}} </a></div>
        <div *ngIf="vol.etat=='At the Boarding Gate'" ><a class="btn btn-warning" >{{vol.etat}} </a></div>
    </td>
    <td>{{vol.aeroport.nomAir}}</td>
    <td><img class="card-img-top img-responsive"
        src="{{apiurl+'/image/load/'+vol.idVol}}"
        style = "height :50px;width:100px">
        </td>
        <td><a *ngIf="authService.isAdmin()"  class="btn btn-danger" (click)="supprimerVol(vol)">Delete</a></td>
        <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateVol',vol.idVol]">Update</a></td>
    </tr>
    </tbody>
    
    </table>
    </div>
    </div>
    </div>
