<div class="container" id="top-container">
    <div>
      <h2>Update User Roles:</h2>
    </div>
    <form #roleForm="ngForm" (ngSubmit)="updateRoles()">
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="userRole"
          name="userRole"
          [(ngModel)]="userRoleChecked"
        />
        <label class="form-check-label" for="userRole">USER</label>
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="adminRole"
          name="adminRole"
          [(ngModel)]="adminRoleChecked"
        />
        <label class="form-check-label" for="adminRole">ADMIN</label>
      </div>
      <button type="submit" class="btn btn-primary">Update Roles</button>
    </form>
  </div>